{% extends 'base.html.twig' %}

{% block title %}Edit Answers
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Edit Answers</h1>

		{{ include('answers/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_questions_index') }}">Back to questions</a>

		{{ include('answers/_delete_form.html.twig') }}
	</div>
{% endblock %}
