{% extends 'base.html.twig' %}

{% block title %}New Answers
{% endblock %}

{% block body %}
	<h1>Create new Answers</h1>

	{{ include('answers/_form.html.twig') }}

	<a href="{{ path('app_questions_index') }}">Back</a>
{% endblock %}
