{% extends 'base.html.twig' %}

{% block title %}New Answers
{% endblock %}

{% block body %}
	<br>
	<div class="container ">

		<h1>Create new Answers</h1>
		<br>

		{{ include('answers/_form.html.twig') }}

		<a class="btn btn-primary mt-2" href="{{ path('app_questions_index') }}">Back</a>
	</div>
{% endblock %}
