.card-body {
  background-color: #cbdbff;
}

.w-50 {
  background-color: #cbdbff;
  color: black;
}

.table > thead > tr > th {
  background-color: #cbdbff !important;
}
.table > tbody > tr > th {
  background-color: #cbdbff !important;
}
.table > tbody > tr > td {
  background-color: #cbdbff !important;
}
